<!-- app/templates/modals/container_details.html -->
<div class="modal fade" id="containerDetailsModal" tabindex="-1" aria-labelledby="containerDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="containerDetailsModalLabel">Container Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="container-details-content">
                    <!-- Container info section -->
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h5 class="mb-0">Container Information</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <tr>
                                            <th>ID:</th>
                                            <td id="container-id">-</td>
                                        </tr>
                                        <tr>
                                            <th>Barcode:</th>
                                            <td id="container-barcode"><code>-</code></td>
                                        </tr>
                                        <tr>
                                            <th>Description:</th>
                                            <td id="container-description">-</td>
                                        </tr>
                                        <tr>
                                            <th>Type:</th>
                                            <td id="container-type">-</td>
                                        </tr>
                                        <tr>
                                            <th>Status:</th>
                                            <td id="container-status">-</td>
                                        </tr>
                                        <tr>
                                            <th>Mixed samples:</th>
                                            <td id="container-mixed">-</td>
                                        </tr>
                                        <tr>
                                            <th>Location:</th>
                                            <td id="container-location">-</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h5 class="mb-0">Contents</h5>
                                </div>
                                <div class="card-body">
                                    <div id="container-samples-list">
                                        <p class="text-center text-muted">Loading samples...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Container history section -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Container History</h5>
                        </div>
                        <div class="card-body">
                            <div id="container-history-list">
                                <p class="text-center text-muted">Loading history...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="add-sample-to-container-btn">Add Sample to Container</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>