<div class="modal" id="expiringDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Prøver der snart udløber</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Prøve ID</th>
                                <th>Beskrivelse</th>
                                <th>Udløbsdato</th>
                                <th>Dage til udløb</th>
                                <th>Placering</th>
                                <th>Handling</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="warning">
                                <td>PRV-1001</td>
                                <td>Køleløb Type A</td>
                                <td>24. Dec 2024</td>
                                <td>13</td>
                                <td>A1.B2</td>
                                <td>
                                    <button class="btn btn-sm btn-warning">Forlæng</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>