<div class="modal" id="expiringDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Samples expiring soon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sample ID</th>
                                <th>Description</th>
                                <th>Expiry Date</th>
                                <th>Days to Expiry</th>
                                <th>Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="warning">
                                <td>PRV-1001</td>
                                <td>Cooling Loop Type A</td>
                                <td>Dec 24, 2024</td>
                                <td>13</td>
                                <td>A1.B2</td>
                                <td>
                                    <button class="btn btn-sm btn-warning">Extend</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>