<!-- Test Details Modal -->
<div class="modal" id="testDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Test Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <!-- Test information -->
                <div class="test-info mb-4">
                    <!-- Will be populated dynamically via JavaScript -->
                </div>
                
                <!-- Sample table -->
                <h5>Samples in this test</h5>
                <div class="table-responsive">
                    <table class="table table-hover test-samples-table">
                        <thead>
                            <tr>
                                <th>Test ID</th>
                                <th>Description</th>
                                <th>Original Sample</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Will be populated dynamically via JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="disposeAllTestSamples(currentTestId)">Dispose All Samples</button>
                <button type="button" class="btn btn-primary" onclick="completeTest(currentTestId)">Complete Test</button>
            </div>
        </div>
    </div>
</div>